.activities {
  padding-top: 0;

  @media screen and (max-width: 1200px) {
    display: none;
  }
}

.activities__title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--secondary-text-color);
  margin-bottom: 50px;
}

.activities__list {
  display: flex;
}

.activities__item {
  position: relative;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.activities__text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--body-main-color);
  background-color: rgba(47, 48, 58, 0.8);
}
