.clients__title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.17;
  color: var(--secondary-text-color);

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
  }
}

.clients__item {
  flex-basis: calc((100% - 30px) / 2);
  height: 92px;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 2 * 30px) / 3);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 5 * 30px) / 6);
  }
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  color: var(--icon-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border-color: var(--logo-main-color);
    color: var(--logo-main-color);
  }
}

.clients__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}
