h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;

}

body {
  font-family: var(--font-family-main);
  background-color: var(--body-main-color);
  color: var(--main-text-color);
  font-size: 14px;
  letter-spacing: 0.03em;
  overflow-y: scroll;


}

.container {
  
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
  
  @media screen and (min-width: 480px) {
    width: 480px;
    }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.section {
  padding: 60px 0;
  
    @media screen and (min-width: 1200px) {
      padding: 94px 0;
    }
}

.list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}