.header {
  background-color: var(--body-main-color);
  border-bottom: 1px solid #ececec;
}

.header__link.header__link_current {
  color: var(--logo-main-color);

  &::after {
    opacity: 1;
  }
}

.logo {
  color: var(--logo-secondary-color);
  font-family: var(--font-family-logo);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  
  

  &__icon {
    color: var(--logo-main-color);
  }
}

.header__wrapper {

margin: 0 auto;
@media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (min-width: 768px) {
    // justify-content: stretch;
    gap: 88px;
    }
    @media screen and (min-width: 1200px){
      gap: 93px;
    }


}

.header__list {

  display: none;

  @media screen and (min-width: 768px){
    display: flex;
      justify-content: center;
      gap: 50px;
  }
}

.header__link {
  position: relative;
  font-family: var(--font-family-main);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: block;
  padding: 32px 0px;
  color: var(--secondary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &::after {
    display: block;
    position: absolute;
    left: 0;
    bottom: -1px;
    content: "";
    opacity: 0;
    width: 100%;
    height: 4px;
    background-color: var(--logo-main-color);
    border-radius: 2px;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &:hover,
  &:focus {
    color: var(--logo-main-color);
  }
}

.contact__link {
  
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  align-items: center;
  display: flex;
  gap: 10px;

  &:hover,
  &:focus {
    color: var(--logo-main-color);
  }

    @media screen and (min-width: 1200px){
      font-size: 14px;
        line-height: 1.14;
    }
}

.contact__list {
  display: none;

  @media screen and (min-width: 768px) {
  
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media screen and (min-width: 1200px) {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}
}


.contact__icon {
  fill: currentColor;
}