.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 1;
  pointer-events: all;
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% - 30px);
  max-width: 450px;
  max-height: 609px;
  padding: 40px;
  background-color: var(--body-main-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 1200px) {
    max-width: 528px;
    max-height: 581px;
  }
}

.modal__close-btn {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--body-main-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--logo-main-color);
    border-color: var(--logo-main-color);
  }
}

.modal__close-icon {
  fill: currentColor;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-bottom: 12px;
}

.modal__label {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.modal__label:nth-child(5) {
  margin-bottom: 0;
}

.modal__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  cursor: pointer;
  padding: 12px 42px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input:focus-within + .modal-icon,
.modal__input:hover + .modal-icon {
  fill: var(--logo-main-color);
}

.modal__input:focus-within,
.modal__input:hover,
.modal__textarea:focus-within,
.modal__textarea:hover {
  border-color: var(--logo-main-color);
}

.modal__icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  width: 18px;
  height: 18px;
  display: inline-block;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__textarea {
  width: 100%;
  height: 120px;
  resize: none;
  display: block;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  margin-top: 4px;
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox {
  position: relative;
  margin-top: 20px;
  display: inline-block;
  font-size: 12px;
  line-height: 1.17;

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.71;
  }
}

.modal-checkbox__contract {
  display: inline-block;
  color: var(--logo-main-color);
  text-decoration: underline;
}

.modal-checkbox__input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.modal-checkbox__input:checked + .modal-checkbox__icon {
  border: none;
  fill: var(--logo-main-color);
}

.modal-checkbox__icon {
  display: inline-block;
  vertical-align: text-top;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid var(--logo-secondary-color);
  border-radius: 2px;
  fill: var(--body-main-color);
}

.modal-checkbox__button {
  margin-top: 30px;
  align-self: center;
  width: 200px;
  height: 50px;
  background: var(--hover-btn-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: var(--body-main-color);
  overflow: hidden;
  border-color: transparent;
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox__button:hover,
.modal-checkbox__button:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
