.specifics__list {
  // display: flex;
  // flex-direction: column;
  display: block;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
  }

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }
}

.specifics__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: var(--secondary-text-color);
  text-align: center;

  @media screen and (min-width: 768px) {
    text-align: left;
  }
}

.specifics__desc {
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.spicifics__item {
  width: 450px;

  @media screen and (min-width: 768px) {
    width: 354px;
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
  }

  &:not(:last-child) {
    margin-bottom: 30px;

    @media screen and (min-width: 768px) {
      margin-bottom: 0;
    }
  }
}

.specifics__icon {
  width: 450px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  background-color: var(--body-third-color);
  border-radius: 4px;

  @media screen and (min-width: 768px) {
    width: 354px;
    flex-wrap: wrap;
    gap: 10px;
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}
