:root {
    --font-family-main: "Roboto", sans-serif;
    --font-family-logo: "Raleway", sans-serif;
    --main-text-color: #757575;
    --secondary-text-color: #212121;
    --logo-main-color: #2196f3;
    --logo-secondary-color: #000000;
    --body-main-color: #ffffff;
    --body-secondary-color: #2f303a;
    --body-third-color: #f5f4fa;
    --hover-btn-color: #188ce8;
    --icon-color: #afb1b8;
  }